{{#if userInSession}}
  <h1>Hi, {{userInSession.username}}! This is your Profile Page :)</h1>
  <div id="logout-form">

    <form action="/profile" method="POST"> </form>

    <form action="/logout" method="post">
      <button type="submit">Log out</button>
    </form>
    {{#if errorMessage}}
      {{errorMessage}}
    {{/if}}
  </div>

{{else}}
  <p>Still not logged in :( </p>
{{/if}}