<div>
    <img class="imageConfiguration" src="/images/peakpx.jpg" alt="">
</div>
<div class="pt-44 backgroundConfiguration">
    <h1 class="text-6xl font-thin titlePosition">Where do you want to go ?</h1>
    <hr>
    <p>Unleash your inner Explorer !</p>
    <p>Star crafting your destination guides with ease !</p>
    <button type="submit" class="rounded-full bg-red-400">Get Started !</button>
</div>