<div>
    <img class="imageConfiguration" src="/images/peakpx.jpg" alt="">
</div>
<div class="mt-24 backgroundConfiguration">
    <h1 class="text-6xl font-thin pb-6 text-center titlePosition">Where do you want to go?</h1>
    <div class="pb-4">
        <hr class="lineConfiguration">
    </div>
    <p class="text-xl">Unleash your inner Explorer!</p>
    <p class="pb-40 text-xl" >Star crafting your destination guides with ease!</p>
    <div class="ps-18">
        <a href="/countries"><button type="submit" class="startBtn text-xl bg-slate-300 w-48 h-14">Get Started!</button></a>
        
    </div>
</div>