<div>
    <img class="imageConfiguration" src="/images/peakpx.jpg" alt="">
</div>
<div class="pt-16 backgroundConfiguration">
    <h1 class="text-6xl font-thin pb-12 text-center titlePosition">Where do you want to go ?</h1>
    <div class="pb-4">
        <hr class="lineConfiguration">
    </div>
    <p>Unleash your inner Explorer !</p>
    <p class="pb-40">Star crafting your destination guides with ease !</p>
    <div class="ps-18">
        <button type="submit" class="startBtn bg-white w-48 h-14">Get Started !</button>
    </div>
</div>