<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>

    <nav class="w-full">

      <div class="px-5 py-2 navBarConfiguration">
        <a href="/">
          <img src="/images/logo.png" alt="Home Route" class="logo-img" />
        </a>
        <nav class="nav-icons">
          <a href="/" class="home">

            <img src="/images/home.png" alt="Home Route" class="icon" />
            <label for="home-icon"> Home</label>

          </a>

          <div class="countries">
            <a href="/countries">
              <img
                src="/images/countries.png"
                alt="Countries Route"
                class="icon"
              />
            </a>
            <label for="countries-icon"> Countries</label>

          </div>

          {{#if currentUser}}

          <div class="profile">
            <a href="/profile">
              <img
                src="/images/user-profile.png"
                alt="Countries Route"
                class="icon"
              />
            </a>
            <label for="profile-icon"> Profile</label>

          </div>

          {{/if}}

          <div class="authentication-btn">

            {{#if currentUser}}
              <form action="/logout" method="post" class="m-0">
                <button
                  type="submit"
                  class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2"
                >Log Out</button>
              </form>
            {{else}}
              <a href="/signup">
                <button
                  type="button"
                  class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2"
                >Sign Up</button></a>

              <a href="/login"><button
                  type="button"
                  class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2"
                >Log In</button></a>
            {{/if}}

          </div>
        </nav>

      </div>

    </nav>

  

    {{{body}}}


    <script src="/js/script.js"></script>
  </body>

</html>