<h2>Touristic Points:</h2>
<div>
  {{#each city.touristicPoints}}
    <div class="box">
      <a href="/touristicPoints/{{_id}}"><h3>{{name}}</h3></a>
      <p><span class="grey-span">description: </span>{{description}}</p>

    </div>
  {{/each}}


  <h4>Create a Touristic Point!</h4>
<!-- Form to Create a Review -->
<form action="/touristicPoint/create/{{city._id}}" method="post">
   <label> name:
    <input type="text" name="name" />
  </label>
 
  <label> Description:
    <input type="text" name="description" />
  </label>
    <label for="content">name</label>
    <textarea name="content" id="content" cols="30" rows="5"></textarea>
    <button type="submit">Create the review</button>
</form>
</div>