/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior:smooth;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
