body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-y: none;
  background: linear-gradient(135deg, #e6f3ff 60%, #ccffee);
}

html {
  scroll-behavior: smooth;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.navBarConfiguration {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.mainBackground {
  position: relative;
}

.backgroundConfiguration {
  position: absolute;
  top: 10%;
  left: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.imageConfiguration {
  width: 100%;
  height: 92.4%;
}

.titlePosition {
  font-family: "Dancing Script", cursive;
}

.lineConfiguration {
  color: #000;
  border: 1px #000 solid;
  height: 0.1px;
}

.startBtn {
  border-radius: 10px;
}

.cardConfigurationContainer {
  position: relative;
  text-align: center;
  border-radius: 10px;
  width: 450px;
}

.countryName {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  transform: translate(-50%, -50%);
}

.imgCard {
  border-radius: 10px;
  width: 450px;
  height: 275px;
}

.imgCardDetails {
  width: 450px;
  height: 275px;
}

.imgCardCityDetails {
  border-radius: 10px;
  width: 650px;
  height: 450px;
}

.cardConfiguration:hover .imgCard {
  filter: blur(4px);
  transition: filter 0.3s;
}

.cardConfiguration:hover .countryTitle {
  font-size: 2.4em;
  z-index: 20;
}

.imgCard:hover .countryTitle {
  opacity: 1;
  transform: scale(1.1);
}

.country-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  place-items: center;
}

.cardConfigurationCityContainer {
  position: relative;
  text-align: center;
  border-radius: 10px;
  width: 450px;
  padding: 0 5px;
}

.city-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  place-items: center;
}

.city-card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 450px;
  height: 400px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.city-card > a {
  position: relative;
}

.city-card h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.city-card img:hover {
  filter: blur(4px);
  transition: filter 0.3s;
}

.city-card img:hover ~ h3 {
  opacity: 1;
  font-size: 2.4em;
  z-index: 20;
}

.initialAddBtnConfiguration {
  border: 1px #2563eb solid;
}

.addBtn {
  margin-left: 42.5%;
}

.initialDeleteBtnConfiguration {
  border: 1px #dc2626 solid;
}

.inputCreatePosition {
  margin-left: 43%;
}

.cardConfiguration{
  padding: 2% 5%;
  display: table;
  margin: 0 auto;
}

.addReview{
  margin: 2vw;
}