<h1 class="text-center text-4xl font-thin titlePosition my-10">Countries</h1>
<div class="country-list">
  {{#each countries}}
    <div class="cardConfigurationContainer">
      <div class="cardConfiguration">
        <a href="/countries/{{_id}}">
        <div class="countryName">
          <h3 class="text-white text-xl countryTitle">{{name}}</h3>
        </div>
          <img src="{{image}}" class="imgCard"></img>
        </a>
        {{!-- <p>{{description}}</p> --}}
      </div>
    </div>
  {{/each}}
</div>