<div>
  <h4 class="text-center text-4xl font-thin mt-16 titlePosition">Create a Touristic Point in {{city.name}}</h4>
  <!-- Form to Create a Touristic Point -->
  <div class="justify-center mt-32 flex flex-col items-center">
    <form action="/cities/{{city._id}}/createTouristicPoint" method="post">
    <div>
      <label class="text-center">
        Name:
        <input type="text" name="name" class="w-72 h-10 border border-solid border-2 border-blue-400 rounded block ps-2" />
      </label>
    </div>
    <div class="mt-4">
      <label class="text-center">
        Description:
        <textarea name="description" cols="30" rows="10" class="w-72 h-10 border border-solid border-2 border-blue-400 rounded block ps-2"></textarea>
      </label>
    </div>
      <div class="justify-center text-center items-center pt-4">
        <button type="submit" class="initialAddBtnConfiguration bg-blue-600 text-white p-2 rounded-md">Create Touristic Point</button>
      </div>
    </form>
  </div>
</div>